.star{
    stroke: #FECC0A;
    stroke-width: 2;
}

select{
    box-shadow: 0 20px 25px -5px
    rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.2)
}

.customRadio {
    -webkit-appearance: none;
    appearance: none;
}